body{
	width: max-content;
    background-color: rgb(241, 219, 157);
	margin-top: 10px; 
}
.body2{
	width: max-content;
    background-color: rgb(241, 219, 157);
	margin-top: 10px; 
	height: auto;
}
/* ---------------------------------------------導覽列----------------------------------------- */
.navbar {
	margin-right: -370px;
	margin-left: 9px;
	background-color: #e9ad53;
	margin-top: -17px;
	padding: 0px;
}

h1.my-4{
	margin-left: 35px;
	font-family:'Noto Sans TC', sans-serif; 
	font-size: 35px;
	color:#ec530c !important;
	letter-spacing: 1px;
	text-shadow: 0px 0.5px 12px;
}

.navbar img {
	width: 80px;
	height: 80px;
	margin-left: -165px;
	margin-top: 21px;
}

.img-fluid{
	display: block;
	margin: auto;
}

.navbar-brand{
	margin-left: 30px;
	margin-top: 20px;
	border-left: 5px solid #f1d36e;
	padding: 26px;
	text-transform: uppercase;
	color: #da6110 !important;
	letter-spacing: 1px;
	text-shadow: 0px 0.5px 15px;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 40px;
	vertical-align:middle;
	

}
a{
	font-size: 25px;
	color:#d38b5b;
}
a:hover{
	color: #ec530c;
}

h5{
	font-size: 18px;
	position: absolute;
	bottom: 50px;
}

.card-body{
	padding: 10px;
	height: 200px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacy:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1; 
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards; 
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}